/*  your css code here. If applicable */
body{
	background-color:#f5f5f5;
}
.big{
	display:flex;
	
}
.pictorial-news-section{
	width:25%;
	background-color:white;
	
}
.box{
	width:80%;
	height:30%;
	
}
img{
	width:100%;
	height:100%;

}
.pictorial-news-section h3{
	text-align:center;
}
.main{
	width:40%;
	background-color:white;
	margin:10px;
	border-radius:10px;
	padding:10px;
}
.main h2{text-align:center;}
.latest-news-section{
	width:25%;
	
	background-color:white;
	height:20%;
	padding:10px;
	margin-top:10px;
	border-radius:10px;
}
.header{
	background-color:#011e29;
	text-align:center;
	padding:10px;
	color:white;
}